.body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

body {
  background-color: rgb(190, 224, 166);
}

#germanWord {
    display: flex;
  font-family: "Courier New", Courier, monospace;
  font-size: 2rem;
  color: rgb(197, 116, 68);
  font-weight: 600;
}
    
#englishWord {
  font-family: "Courier New", Courier, monospace;
  font-size: 2rem;
  font-weight: 600;
}

#title { 
  font-family:Arial, Helvetica, sans-serif;
}
.spacing {
  height: 3rem;
}

#refreshButton {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  cursor: pointer;
  font-weight: 900;
  font-size: 1rem;
  height: 4rem;
  width: 15rem;
  background-color: rgb(51, 126, 51);
  border: 5px rgb(139, 139, 199) solid;
  border-radius: 1rem;
}
#refreshButton:hover {
  transform: scale(110%);
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24),
    0 17px 50px 0 rgba(0, 0, 0, 0.19);
}


.der {
  color: blue !important;
}
.die {
  color: red !important;
}
.das {
  color: green !important;
}
